.history-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.history-table th, .history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.history-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.history-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.history-table tr:hover {
    background-color: #f1f1f1;
}
div h2{
    margin-left: 10px;
}